<div id="customql" style="display:none">
    <style>
        #customQLImg {
            background-image: url(/images/img/icon-gradesAttendance.svg)!important;
            background-position: 10px center;
            background-size: auto;
        }
    </style>
    <li id="customQLImg" role="menuitem"><a href="/guardian/learning_requirements_pro.html">~[text:psx.htmlc.admin.students.learning_requirements_pro.learning_requirements_pro]</a></li>
</div>

<script>
    $j(document).ready(function(){
        var CQL_link = $j('#customql').html();
        $j('#nav-main > ul > li:first').before(CQL_link);
        $j('#insertedIcapProgressLink').empty();
    });

    window.onload = function() {
        if (!window.location.href.includes(`/mba_attendance`)) {
            $j('#switch_student_form').attr('action', `${window.location.origin}/guardian/learning_requirements_pro.html`);
        }
    }
</script>