<!-- UCSD Learning Requirements Pro -->
<!DOCTYPE html>
<html lang="en-us">
<head>
    <title>Learning Requirements Pro - Grade Scales</title>

    ~[wc:commonscripts]

    <link href="/images/css/screen.css" rel="stylesheet" media="screen">
    <link href="/images/css/print.css" rel="stylesheet" media="print">
    <link href="/images/css/learning_requirements_pro/learning_requirements_styles.css" rel="stylesheet" media="screen">
</head>
<body>
    ~[wc:admin_header_css]
    <!-- breadcrumb start here--><a href="/admin/Learning_Requirements_Pro/home.html" target="_top">Home</a> &gt; Learning Requirements Pro - Grade Scales<!-- breadcrumb end -->
    <!-- start of main menu and content -->
    ~[wc:admin_navigation_css]
    <!-- Start of Page -->
    <h1>Learning Requirements Pro - Grade Scales</h1>
    <!-- start of content area -->
    <div    data-require-path="/scripts/components/UCSD_LearningRequirements_Pro/index.js"
            data-module-name="lrpmodule"
            data-ng-controller="GradeScaleController"
            data-ng-cloak>
        <div    data-grade-scale-item-drawer 
                data-selected="selected" 
                data-selected-list="selectedList" 
                data-score-color-list="scoreColorList"></div>
       <!--<div     data-lrp-custom-drawer-->
       <!--         data-header-title="drawerTitle"-->
       <!--         data-drawer-content-template="drawerUrl"-->
       <!--         data-drawer-data="drawerData"-->
       <!--         data-score-color-list="scoreColorList"></div>-->
        <div class="button-row">
            <button type="button" data-ng-click="updateData()">Submit</button>
        </div>
        <div class="box-round">
            <table class="grid">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Schools</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="scale in gradeScales">
                        <td data-ng-bind="scale.gradescalename"></td>
                        <td data-ng-bind="scale.gradescaledesc"></td>
                        <td data-ng-model="scale.schools">
                            <div class="repeating-checkbox-wrapper">
                                <label data-ng-repeat="school in scale.availableSchools" class="checkbox-label">
                                    <input type="checkbox" data-ng-model="school.selected" data-ng-change="toggleSchoolSelection(scale, school)">
                                    {{ school.name }}
                                </label>
                            </div>
                                
                        </td>
                        <td>
                            <button type="button" data-ng-click="openRecord(scale)">Edit</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="button-row">
                <button type="button" data-ng-click="updateData()">Submit</button>
            </div>
        </div>
    </div>
    <!-- end of content area -->
    ~[wc:admin_footer_css]
</body>
</html>