<!DOCTYPE html>
<html>
<head>
    <title>Learning Requirements Pro - Performance Bands - ~(gpv.curgroupname)</title>

    ~[wc:commonscripts]

    <link href="/images/css/screen.css" rel="stylesheet" media="screen">
    <link href="/images/css/print.css" rel="stylesheet" media="print">
    <link href="/images/css/learning_requirements_pro/learning_requirements_styles.css" rel="stylesheet" media="screen">
</head>
<body>
    ~[wc:admin_header_css]
    <!-- breadcrumb start <a href="first_link" target="_top">first</a> &gt; <a href="second_link" target="_top">Second</a> &gt; here-->Learning Requirements Pro - Performance Bands - ~(gpv.curgroupname)<!-- breadcrumb end -->
    <!-- start of main menu and content -->
    ~[wc:admin_navigation_css]
    <!-- Start of Page -->
    <h1>Learning Requirements Pro - Performance Bands - ~(gpv.curgroupname)</h1>
    <!-- start of content area -->
    <div    name="testBandItemsForm"
            data-ng-controller="TestBandController"
            data-ng-init="curtestdcid='~(gpv.curtestdcid)'
                    curgroupid='~(gpv.curgroupid)'"
            data-ng-cloak>
        <div class="button-row">
            <button type="button" data-ng-click="">Submit</button>
        </div>
        <div class="box-round">
            <table class="deletable-rows">
                <thead>
                    <tr>
                        <th></th>
                        <th>Order</th>
                        <th>Type</th>
                        <th>Name</th>
                        <th>Color</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr     data-ng-repeat="item in testBands" 
                            data-ng-class="{'selected-delete': color.deleteRecord == 1}"
                            ui-sortable="sortableOptions"
                            data-ng-model="testBands">
                        <td>
                            <div class="lrpHandle"></div>
                        </td>
                        <td data-ng-bind="item.sortorder || $index"></td>
                        <td data-ng-bind="item.bandtype"></td>
                        <td>
                            <input  type="Text" 
                                    data-ng-model="item.testbandname"
                                    data-ng-change="updateRecord()">
                        </td>
                        <td>
                            <div    lrp-cust-color-dropdown 
                                    data-label="{{ item.testbandname }}"
                                    data-item="item"
                                    data-score-color-list="scoreColorList"></div>
                        </td>
                        <td>
                            <button type="button" data-ng-click="markForDelete(item)">
                                <span data-ng-show="item.deleteRecord != 1">X</span>
                                <span data-ng-show="item.deleteRecord == 1">Undo</span>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <button type="button" data-ng-click="addTestBand()">Add Band</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="button-row">
                <button type="button" 
                        data-ng-click="updateBands()" 
                        data-ng-disabled="testBandItemsForm.$invalid">
                    Submit
                </button>
            </div>
        </div>    
    </div>
    <!-- end of content area -->
    ~[wc:admin_footer_css]
</body>
</html>