:focus {
    outline: none;
}

@media (prefers-reduced-motion) {
    * {
        transition:none !important;
    }
}

/* Table Classes */
.learning-requirements-table {
    border-radius: .5rem;
    box-sizing: border-box;
    border: 2px solid black;
    background-color: #6b7395;
    overflow: hidden;
    font-size: 1em;
}

/* input modifications */

.color-picker {
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    vertical-align: middle;
}

.lrp-selected-active-button, .lrp-selected-active-button:hover, .lrp-selected-active-button:focus {
    background-color: #ad54d4;
    filter: brightness(1) !important;
}

/* lrp accordian */

.lrp-accordion {
    cursor: pointer;
    margin: 0;
    padding: 10px;
    background-color: #f2f2f2;
    
}

.lrp-accordion h3 {
    font-weight: bold;
    margin-left: 10px !important;
    padding-left: 5px !important;
    margin-bottom: 0;
    margin-top: 0;
    border: 1px solid grey;
    background-color: #d4d5db;
    display: flex;
}

.lrp-accordion div {
    padding-left: 5px;
    margin-left: 10px !important;
    border: 1px solid grey;
    border-top: none;
    background-color: white;
    margin-top: 0;
    margin-bottom: 0;
    transition: height 0.4s ease-out, opacity 0.4s ease-out;
    overflow: hidden;
    max-height: 40rem;
    height: 34rem;
    opacity: 1;
}

.lrp-accordion div.ng-hide {
    height: 0;
    opacity: 0;
}

/*.ng-animate {*/
/*    transition: all linear .4s;*/
/*}*/

/* form container */

.form-container {
    display: flex;
    gap: 20px; /* Space between forms */
}

.form-container form {
    flex: 1; /* Allow each form to take equal width */
    min-width: 300px; /* Optional: set a minimum width to ensure they’re not too narrow */
}

/* Table Special Classes */

.sort-handle-column,
.color-column,
.delete-button-column {
    width:25px;
    text-align: center;
}

.delete-button-column {
    width: 50px;
}

.center-cell-content {
    text-align: center !important;
}

table.deletable-rows td, 
table.deletable-rows th {
    border: 1px solid black; /* General grid border */
    padding: 8px;
}

.deletable-rows th {
    text-align: center;
    justify-content: center;
}

table.deletable-rows {
    border-collapse: collapse;
}

table.deletable-rows .selected-delete td {
    border: none; /* Remove individual cell borders to prevent overlapping */
}

table.deletable-rows .selected-delete {
    border: 2px red solid !important;
}

/* Repeating checkboxes */

.repeating-checkbox-wrapper {
    display: grid;
    grid-template-columns: repeat(8, .1fr);
    gap: 8px;
    justify-items: center;
}

.checkbox-label {
    display: flex;
    align-items: center;
}

.lrp-testband-column {
    width: 150px;
}

.lrp-band-column {
    width: 200px;
}

/* Text */
.bubble-text {
    color: rgb(255, 255, 255);
    text-shadow: -2px -2px 0 black,
     2px -2px 0 black,
    -2px  2px 0 black,
     2px  2px 0 black,
     0px -2px 0 black,
     2px  0px 0 black,
     0px  2px 0 black,
    -2px  0px 0 black;
    font-size:  inherit;
    text-align: center;
    font-weight: bold;
    line-height: 1em;
}

.center-content {
    text-align: center;
    justify-content: center
}

/* Button Specials*/
.lr-button-red {
    background-color: rgb(254, 0, 0);
    color: black;
    border: 1px solid black;
}

/* Display Start*/
.color-display-square {
    height: 24px;
    width: 24px;
    font-size: 24px;
}

/* Drawer Start */
#lrp-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000; 
}

#lrp-drawer {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    overflow-x: hidden;
    transition: 0.5s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 10000;
    border-left: 1px solid black;
    background-color: #FFF;
}

#lrp-drawer-header {
    position: sticky;
    top: 0;
    padding:0 0 16px 0;
    border-bottom: 1px solid black;
    background-color: #e2e2e2;
    z-index: 1001;
}

#drawer-content {
    overflow-y: auto;
    flex: 1;
    padding: 16px
}

.button-row.lrp-drawer-button-panel {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 0 10px; 
    margin: 0 0 0 0 !important;
    border-bottom: 1px solid black;
}

.button-row.lrp-drawer-button-panel h2 {
    margin: 0;
    text-decoration: none;
    border-bottom: none;
}

/* Custom Dropdown */

.lrp-custom-dropdown {
    position: relative;
    cursor: pointer;
}

.lrp-dropdown-header {
    padding: 10px;
    border: 1px solid #ccc;
    margin-right: 10px;
    border-radius: 10px;
}

.lrp-blue {
    background-color: #e2e4ff;
}

.lrp-dropdown-header:hover {
    filter: brightness(1.1)
}

.lrp-dropdown-header div {
    width: 150;
}

.lrp-dropdown-list {
    position: absolute;
    border: 1px solid #ccc;
    z-index: 1000;
    width: 100%;
    background-color:#fbfbfb;
    overflow-y: auto;
    text-align: left;
    box-shadow: 1px 2px 5px black;
    margin-top: 5px;
}

.lrp-dropdown-item {
    padding: 10px;
}

.lrp-dropdown-item:hover {
    filter: brightness(1.1);
}

/* Sortable Handle */

.lrpHandle::before {
    content: '................';
    width: 20px;
    height: 20px;
    display: inline-block;
    overflow: hidden;
    line-height: 5px;
    padding: 0 0;
    cursor: move;
    vertical-align: middle;
    text-shadow: 1px 0 1px grey;
    font-size: 20px;
    margin: 0;
}

.lrpHandle:active {
    cursor: grabbing;
}

.lrpHandle:hover {
    filter:brightness(1.1);
}

/* Div constructed table */
    .lrp-cursor {
        cursor: pointer !important;
    }

    .lrp-table {
        display: flex;
        flex-direction: column;
        border: 1px solid #ccc; 
        margin: 10px 10px;
        border-radius: 10px;
        overflow: hidden;
    }
    
    .lrp-table-row {
        display: flex;
        flex-wrap: nowrap;
        border-bottom: 1pt solid black;
        transition: all .5s ease;
        background-color: #a3a3b5;
        background-image: linear-gradient(to right, #736aa5 0%, #736aa5 100%);
        background-repeat: no-repeat;
        background-size: 0% 100%; /* Start with no fill */
        overflow: hidden;
        /*max-height: 0;*/
        /*transition: max-height 0.5s ease-out;*/
    }
    
    .lrp-table-row:nth-child(odd) {
        background-color: #a3a3b5;
    }
    
    .lrp-table-row:nth-child(even) {
        background-color: #959494;
    }
    
    .lrp-table-row.selected {
        background-size: 100% 100%; /* Expand gradient to fill */
        background-color: #2b2647; /* Fallback for browsers that don't support gradients */
    }
    
    .lrp-table-row.lrp-selected {
        filter: brightness(110%);
        -webkit-filter: brightness(110%);
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        -ms-transition: all 1s ease;
        transition: all 1s ease;
        box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
        transform: translateY(3px);
        border-radius: 20px 0 0 0;
        /*border-left: 2px solid #736aa5;*/
        /*border-right: 2px solid #736aa5;*/
        /*border-top: 2px solid #736aa5;*/
        transform: translateY(3px);
    }
    
    .lrp-table-header {
        display: flex;
        flex-wrap: nowrap;
        background-color: #a3bfcc;
        font-weight: bold;
    }
    
    .lrp-table-header-cell {
        flex: 1; 
        padding: 4px 5px;
        border: 1px solid black;
        text-align: center;
        box-sizing: border-box;
    }
    
    .lrp-table-cell {
        display: flex;
        flex: 1;
        padding: 4px 5px;
        text-align: center;
        box-sizing: border-box;
        align-items: center; 
        justify-content: center;
        height: auto;
        flex-wrap: nowrap;
        
    }
    
    .lrp-table-cell-left {
        display: flex;
        flex: 1;
        padding: 4px 5px;
        text-align: left;
        box-sizing: border-box;
        align-items: center; 
        justify-content: left;
        height: auto;
        flex-wrap: nowrap;
    }
    
    .lrp-table-cell-content {
        margin-top: 5px;
        padding: 5px;
        cursor: default;
    }
    
    .lrp-table-cell-key-content {
        padding-left: 30px !important;
        border: 1px solid black;
        border-radius: 10px;
        background-color: #555555;
        white-space: nowrap;
        line-height: 2rem;
    }
    
    .lrp-table-cell-key-content:hover {
        filter: brightness(110%);
        -webkit-filter: brightness(110%);
        -webkit-transition: all .1s ease;
        -moz-transition: all .1s ease;
        -o-transition: all .1s ease;
        -ms-transition: all .1s ease;
        transition: all .1s ease;
        box-shadow: rgba(0, 0, 0, 0.5) 0 4px 12px;
    }
    
    .lrp-table-cell-icons {
        background-color: #cdcdcd;
        padding: 5px;
        border-radius: 10px;
        border: 1px solid black;
        min-width: 2rem;
    }
    
    .lrp-table-cell-left {
        text-align: left !important
    }
    
    /*.lrp-table-row:nth-child(odd) {*/
    /*    background-color: #c4c4cb;*/
    /*}*/
    
    /*.lrp-table-row:nth-child(even) {*/
    /*    background-color: #e3e3e3;*/
    /*}*/
    
    .lrp-table-spacer-content {
        border: 1px solid black;
    }
    
    .lrp-flex-tenth {
        flex: .1
    }
    
    .lrp-flex-quarter {
        flex: .25
    }
    
    .lrp-flex-third {
        flex:.3
    }
    
    .lrp-flex-half {
        flex: .5
    }
    
    .lrp-flex-two-thirds {
        flex: .6
    }
    
    .lrp-flex-three-quarters {
        flex: .75
    }
    
    .lrp-table-collapsible-row {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s ease-out, border 0.5s ease-in, height 0.5s ease-out;
    }
    
    .lrp-table-collapsible-row.expanded {
        max-height: 3000px; 
        transition: max-height 0.5s ease-in, border 0.5s ease-in;
        border-left: 10px solid;
        border-right: 2px solid;
        border-bottom: 2px solid;
        border-radius: 0 0 0 20px;
    }
    
    .lrp-table-row.ng-enter, .lrp-table-row.ng-leave-active {
        max-height: 0;
        filter: opacity(0);
    }
    
    .lrp-table-row.ng-enter-active, .lrp-table-row.ng-leave {
        max-height: 1000px;
        filter: opacity(1);
    }
    
    .lrp-comments {
        margin-top: 0 !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
        border-radius: 0 !important;
        padding-left: 1px;
    }
    
    .lrp-table-toggle-button {
        display: inline-block;
        width: 3.5rem;
        height: 2.5rem;
        text-align: center;
        line-height: 2.5rem;
        font-family: Arial, sans-serif;
        font-size: 2.5rem;
        transition: all 0.3s ease;
        position: relative;
        float:left; 
        cursor: pointer;
    }
    
    .lrp-big {
        font-size: 1rem;
    }
    
    .lrp-table-toggle-button::before {
        content: '≡';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: transform 0.3s ease, opacity 0.3s ease;
        opacity: 1;
    }
    
    .lrp-table-toggle-button.expanded::before {
        content: '►';
        transform: rotate(90deg);
        font-size: 1.5rem;
    }
    
    .lrp-table-toggle-button:hover {
        color: #eccd8e;
    }
    
    .lrp-score-table {
        display: inline-block; 
        border-collapse: collapse; 
        margin: 0 auto;
        border-radius: 10px;
        overflow: hidden;
        border: 1px solid black;
    }
    
    /* Style the header cells */
    .lrp-score-table .lrp-score-cell, .lrp-score-header-cell {
        white-space: nowrap;
        padding: 0.1rem 1rem; 
        text-align: center; 
       
    }
    
    .lrp-score-cell {
        border: 1pt solid black;
    }
    
    /* Style table rows */
    
    /* Comment CSS*/
    .lrp-comment-button {
        padding: 5px;
        border-right: 1px solid black;
        border-bottom: 1px solid black;
        width: 15rem;
        border-radius: 0 1rem 1rem 0;
        cursor: pointer;
        background-color: #b04646;
        color: white;
        transition: width 0.5s ease-in;
    }
    
    .lrp-comment-button.expanded {
        transition: width 0.5s ease-out;
        width: 100%;
        border-radius: 0;
        color: black;
        background-color: #589e81;
    }
    
    .lrp-comment-details {
        overflow: hidden; 
        transition: all 0.5s ease-out;
        max-height: 0;
        overflow: hidden;
        filter: opacity(0);
    }
    
    .lrp-comment-details.expanded {
        height: auto; 
        transition: all 0.5s ease-out;
        max-height: 1000px;
        filter: opacity(1);
    }
    
    .lrp-description {
        margin-top: 0;
        margin-right: 0;
        border-radius: 0 0 0 1rem;
    }
    
    .lrp-trend-button {
        border: 1px solid black;
        padding: 1px;
        border-radius: 1rem;
        background-color: #e8e8e8;
        width: 100%;
    }
        
    .lrp-table-assignment-row {
        background-color: lightgray;
    }


/*************************************/
/************* Dark Mode *************/
/*************************************/

body.set-to-dark:not(.disable-dark-mode) .lrp-accordion {
    background-color: #1f2933;
}

body.set-to-dark:not(.disable-dark-mode) .lrp-accordion h3 {
    border: 1px solid rgb(87, 87, 88);
    background-color: #1e3548;
}

body.set-to-dark:not(.disable-dark-mode) .lrp-accordion div {
    border: 1px solid rgb(87, 87, 88);
    border-top: none;
    background-color: #363945;
}

body.set-to-dark:not(.disable-dark-mode) .learning-requirements-table {
    border: 1px solid rgb(87, 87, 88);
    background-color: #363945;
}

body.set-to-dark:not(.disable-dark-mode) .selected-delete {
    border: 1px rgb(169, 5, 5) solid !important;
}

body.set-to-dark:not(.disable-dark-mode) .lr-button-red {
    background-color: rgb(169, 5, 5);
    color: rgb(50, 50, 50);
    border: 1px solid rgb(50, 50, 50);
}

body.set-to-dark:not(.disable-dark-mode) #lrp-overlay {
    background: rgba(255, 255, 255, 0.5);
}

body.set-to-dark:not(.disable-dark-mode) #lrp-drawer {
    background: #1f2933;
    border-left: 1px solid #898c8f;
    box-shadow: 0 0 10px rgba(122, 122, 122, 0.2);
}

body.set-to-dark:not(.disable-dark-mode) #lrp-drawer-header {
    border-bottom: 1px solid #898c8f;
    background-color: #3E4C59;
}

body.set-to-dark:not(.disable-dark-mode) table.deletable-rows td, 
body.set-to-dark:not(.disable-dark-mode) table.deletable-rows th {
    border: 1px solid #6a6a76; 
}


body.set-to-dark:not(.disable-dark-mode) .lrp-dropdown-header {
    border: 1px solid #979797;
}

body.set-to-dark:not(.disable-dark-mode) .lrp-blue {
    background-color: #131754;
}

body.set-to-dark:not(.disable-dark-mode) .lrp-dropdown-list {
    border: 1px solid #979797;
    background-color: #1F2933;
    box-shadow: 1px 2px 10px #000000;
}

body.set-to-dark:not(.disable-dark-mode) .button-row.lrp-drawer-button-panel {
    background-color: #195f7d !important;
    border-bottom: 1px solid #6a6a76;
}

body.set-to-dark:not(.disable-dark-mode) .lrp-table, .lrp-table-header-cell, .lrp-table-spacer-content {
    border: 1px solid black;
}

body.set-to-dark:not(.disable-dark-mode) .lrp-table-header {
    background-color: #195f7d;
}

body.set-to-dark:not(.disable-dark-mode) .lrp-table-spacer-content {
    background-color: #1f2933;
}

/*.lrp-table-row {*/
/*    border-bottom: 1px solid black;*/
/*}*/

/*.lrp-table-row:nth-child(odd) {*/
/*    background-color: #323F48;*/
/*}*/

/*.lrp-table-row:nth-child(even) {*/
/*    background-color: #242f39;*/
/*}*/

body.set-to-dark:not(.disable-dark-mode) .lrp-table-row {
    display: flex;
    flex-wrap: nowrap;
    border-bottom: 1px solid black;
    background-color: #323F48;
    background-image: linear-gradient(to right, #736aa5 0%, #736aa5 100%);
    background-repeat: no-repeat;
    background-size: 0% 100%; /* Start with no fill */
    transition: all 1s ease; /* Smooth transition */
}

body.set-to-dark:not(.disable-dark-mode) .lrp-table-row:nth-child(odd) {
    background-color: #323F48;
}

body.set-to-dark:not(.disable-dark-mode) .lrp-table-row:nth-child(even) {
    background-color: #242f39;
}

body.set-to-dark:not(.disable-dark-mode) .lrp-table-row.selected {
    background-size: 100% 100%; /* Expand gradient to fill */
    background-color: #736aa5; /* Fallback for browsers that don't support gradients */
}

body.set-to-dark:not(.disable-dark-mode) .lrp-table-cell-icons {
    background-color: #242f39;
}

body.set-to-dark:not(.disable-dark-mode) .lrp-trend-button {
    background-color: #242f39;
}

body.set-to-dark:not(.disable-dark-mode) .lrp-table-assignment-row {
    background-color: #2c2c3c !important;
}
    
