#test-data-header {
    display: inline-block;
    margin-left: 20px;
    padding: 5px;
    cursor: pointer;
    /*outline: none;*/
    transition: all 0.5s ease-in;
}

#test-data-header:focus-visible, 
#test-data-header:focus, 
.lrp-table-row:focus-visible, 
.lrp-table-row:focus-visible {
    outline: 2px solid blue !important;
    z-index: 10000;
}

#lrp-print-view {
    display: none;
}

#lrp-inserted-content-buttons {
    display: inline-flex;
    justify-content: right;
    width: -webkit-fill-available;
    width: -moz-available;
    width: fill-available;
}

h4>div.button-row {
    margin: 0 20px 0 20px !important;
}

.lrp-test-content-shown-button {
    border: 1px solid #CCCCCC;
    border-bottom: none;
    border-radius: 10px 10px 0 0;
    background-color: white;
    
}
.lrp-test-content-hidden-button {
    border-radius: 10px;
    border: 1px solid #CCCCCC;
    margin-bottom: 10px;
    background-color: #589e81;
    color: black;
}

.test-data-view.ng-hide-add {
    /*transition: max-height 0.5s ease-out, opacity 0.5s ease-out;*/
    transition: all 0.5s ease-out;
    max-height: 1000px; /* Adjust to a reasonable default max height */
    opacity: 1;
}

.test-data-view.ng-hide-add.ng-hide-add-active {
    max-height: 0;
    opacity: 0;
}

.test-data-view.ng-hide-remove {
    transition: max-height 0.5s ease-in, opacity 0.5s ease-in;
    max-height: 0;
    opacity: 0;
}

.test-data-view.ng-hide-remove.ng-hide-remove-active {
    max-height: 1000px; /* Adjust to a reasonable default max height */
    opacity: 1;
    /*height: 500px;*/
}

.test-data-view {
    overflow: hidden;
    /*max-height: 0;*/
    transition: max-height 0.5s ease-out, height 0.5s ease-out;
    opacity: 0;
}

.test-data-view.opened {
    max-height: 1000px; /* Adjust based on dynamic content */
    opacity: 1;
}

.lrp-test-labels, .lrp-test-labels tr th {
    padding: 0;
}

.test-content-wrapper {
    transition: opacity 0.5s ease-out;
    opacity: 1;
}

.test-content-wrapper.content-hidden {
    opacity: 0; /* Hide content during animation */
    pointer-events: none; /* Optional: prevent interaction */
}

.test-record {
    margin-bottom: 10px;
}

.test-scores {
    margin-bottom: 10px;
}

.testviews {
    display: flex;
    justify-content: space-between;
}

.leftColumn, .rightColumn {
    width: 50%;
}

.test-cell {
    border: 1px solid black;
    border-radius: 20px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: lightgrey;
    
}
/* Accessibility Panel */

.lrp-accessibility-panel {
    display: inline-flex;
    text-align: right;
    justify-content: right;
    width: -webkit-fill-available;
    width: -moz-available;
    padding: 10px;
    margin: 10px;
}

.lrp-accessibility-panel span {
    margin-inline-end: 7px;
}

.lrp-accessibility-panel .lrp-switch input:checked + .lrp-slider:before {
    transform: translateX(22px);
}

/* Container for the switch */
.lrp-switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.lrp-switch input:focus + .lrp-slider {
    box-shadow: 0 0 0 3px #005fcc;
}

/* Hide the default checkbox appearance */
.lrp-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* Slider style (the actual switch part) */
.lrp-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: red;
    transition: .4s;
    border-radius: 20px;
}

/* The circle inside the slider */
.lrp-slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: .4s;
}

/* When the checkbox is checked, change the slider's background and move the circle */
.lrp-switch input:checked + .lrp-slider {
    background-color: #4CAF50;
}

.lrp-switch input:checked + .lrp-slider:before {
    transform: translateX(20px);
}

/* Container for the popup window */
.lrp-popup {
    position: fixed;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    display: none;
    border-radius: 10px;
    overflow: hidden;
}

/* Header of the popup */
.lrp-popup-header {
    top: 0;
    left: 0;
    height: 30px;
    background-color: #195f7d;
    color: #cbd2d9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    cursor: move;
}

/* Title of the popup */
.lrp-popup-title {
    font-weight: bold;
}

/* Close button */
.lrp-popup-close {
    font-size: 18px;
    cursor: pointer;
}

/* Content area of the popup */
.lrp-popup-content {
    padding: 20px 10px 10px;
    overflow: auto;
}

/* Add styling when the popup is open */
.lrp-popup.open {
    display: block;
}

#lrp-test-hist-chart {
    border: 1px solid grey;
}

/* General container styling */
.lrp-grade-scale-container {
    margin-bottom: 20px;
}

/* Tabs (buttons) styling */
.lrp-tabs {
    display: flex;
    margin-left: 10px;
    margin-bottom: 0;
}

.lrp-expand-button {
    border: 1px solid black;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    margin: 0;
    padding: 5px;
}

.lrp-expand-button.expanded {
    background-color: #589e81;
    color: black;
    border-radius: 0.5rem 0.5rem 0 0;
}

/* Content area styling */
.lrp-grade-scale-content {
    display: block;
    overflow: hidden;
    max-height: 0; /* Start collapsed */
    opacity: 0; /* Start invisible */
    transition: max-height 0.5s ease-in-out, opacity 0.3s ease-in-out;
}

/* Expand when active (tab is selected) */
.lrp-grade-scale-content.expanded {
    max-height: 2000px; /* Large value to fit most content */
    opacity: 1; /* Fully visible */
}
    .lrp-grade-scale-content.ng-enter, .lrp-grade-scale-content.ng-leave-active {
        max-height: 0;
        filter: opacity(0);
    }
    
    .lrp-grade-scale-content.ng-enter-active, .lrp-grade-scale-content.ng-leave {
        max-height: 2000px;
        filter: opacity(1);
    }

/* Table styling */
.lrp-grade-scale-table {
    border-collapse: collapse;
    border: 1px solid #ddd;
    transition: all 0.5s ease;
    border-radius: 0 10px 10px !important;
    margin-top: 0 !important;
}

.lrp-grade-scale-table th,
.lrp-grade-scale-table td {
    padding: 8px 12px;
    text-align: left;
    border: 1px solid #ddd;
}

.lrp-grade-scale-table th {
    background-color: #195f7d;
    color: white;
    font-weight: bold;
}

.tableKey {
    background-color: white;
    color: black;
    padding-bottom: 1px;
    margin-bottom: 0px;
    width: 100%;
    align-content: center;
    text-align: center;
}

.lrp-circle {
    border: 1px solid black;
    height: 2.5rem;
    border-radius: 2.5rem;
    min-width: 2rem;
    min-height: 2rem;
    width: 100%;
}

/* Tags */

.mtag,
.tag {
    background-position: 0.1rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #787170 !important;
    width: 1.35rem;
    filter: brightness(140%);
    z-index: 0;
    display: relative;
}

.keyIcon {
    display: relative;
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 20px;
}

.keyItem::after {
    content: "|"; /* Adds a pipe separator after each key item */
    margin-left: 4px;
}

.keyItem:last-child::after {
    content: ""; /* Removes separator after the last item */
}

.late {
    background-image: url(/images/img/late-inverse-red-30x30.svg) !important;
}

.collected {
    background-image: url(/images/img/collected-inverse-green-30x30.svg) !important;
}

.exempt {
    background-image: url(/images/img/exempt-inverse-purple-30x30.svg) !important;
}

.missing {
    background-image: url(/images/img/missing-inverse-orange-30x30.svg) !important;
}

.absent {
    background-image: url(/images/img/absent-inverse-green-30x30.svg) !important;
}

.incomplete {
    background-image: url(/images/img/incomplete-inverse-blue-30x30.svg) !important;
}

.excluded {
    background-image: url(/images/img/excluded-inverse-orange-30x30.svg) !important;
}

.lrp-mobile-view-row {
    display: none;
}

body.set-to-dark:not(.disable-dark-mode) .lrp-mobile-view-row {
    display: none;
}

.lrp-full-view-row {
    display: inherit;
}

.lrp-table-toggle-button:focus {
    outline: none;
}

div:focus {
    outline: none;
}

.lrp-full-view-block {
    display: block;
}

.lrp-mobile-view-block {
    display: none;
}

body.set-to-dark:not(.disable-dark-mode) .lrp-mobile-view-block {
    display: none;
}
/* tags end */

.lrp-trend-button {
    border: 1px solid black;
    padding: 1px;
    border-radius: 1rem;
    background-color: #e8e8e8;
}

@media (max-width: 880px) {
    .lrp-sub-table {
        border-radius: 0 0 0 10px;
        margin-top: 0;
    }
    
    
    .box-round {
        padding-right: 0 !important;
        padding-left: 0 !important;
        margin-right: 0 !important;
        margin-left: 0 !important;
    }
    
    .testviews {
        display: block !important;
    }
    
    .leftColumn, .rightColumn {
        width: auto !important;
    }
    
    .test-cell {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    
    .lrp-table {
        margin: 0 0 0 2px;
    }
    
    .lrp-full-view-row {
        display: none;
    }
    .lrp-mobile-view-row {
        display: inherit;
    }
    
    .lrp-full-view-block {
        display: none;
    }
    
    .lrp-mobile-view-block {
        display: block;
    }
    
    .lrp-mobile-view-flex {
        display: flex;
    }
    
    /*.lrp-table-cell, .lrp-table-header-cell {*/
    /*    padding: 0;*/
    /*    line-height: 1rem;*/
    /*}*/
    
    .lrp-table-toggle-button {
        width: 0;
        float: none;
        line-height: 1rem;
    }
    
    #lrp-inserted-content-buttons {
        display: flex;                /* Use block-level flex for stacking */
        flex-direction: column;       /* Stack children vertically */
        align-items: stretch;         /* Make children fill full width if desired */
        width: 90%;   
    }
    /**/
    body.set-to-dark:not(.disable-dark-mode) .lrp-sub-table {
        border-radius: 0 0 0 10px;
        margin-top: 0;
    }
    
    
    body.set-to-dark:not(.disable-dark-mode) .box-round {
        padding-right: 0 !important;
        padding-left: 0 !important;
        margin-right: 0 !important;
        margin-left: 0 !important;
    }
    
    body.set-to-dark:not(.disable-dark-mode) .testviews {
        display: block !important;
    }
    
    body.set-to-dark:not(.disable-dark-mode) .leftColumn, .rightColumn {
        width: auto !important;
    }
    
    body.set-to-dark:not(.disable-dark-mode) .test-cell {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    
    body.set-to-dark:not(.disable-dark-mode) .lrp-table {
        margin: 0 0 0 2px;
    }
    
    body.set-to-dark:not(.disable-dark-mode) .lrp-full-view-row {
        display: none;
    }
    
    body.set-to-dark:not(.disable-dark-mode) .lrp-mobile-view-row {
        display: inherit;
    }
    
    body.set-to-dark:not(.disable-dark-mode) .lrp-full-view-block {
        display: none;
    }
    
    body.set-to-dark:not(.disable-dark-mode) .lrp-mobile-view-block {
        display: block;
    }
    
    body.set-to-dark:not(.disable-dark-mode) .lrp-mobile-view-flex {
        display: flex;
    }
    
    /*body.set-to-dark:not(.disable-dark-mode) .lrp-table-cell, body.set-to-dark:not(.disable-dark-mode) .lrp-table-header-cell {*/
    /*    padding: 0;*/
    /*    line-height: 1rem;*/
    /*}*/
    
    body.set-to-dark:not(.disable-dark-mode) .lrp-table-toggle-button {
        width: 0;
        float: none;
        line-height: 1rem;
    }

    body.set-to-dark:not(.disable-dark-mode) #lrp-inserted-content-buttons {
        display: flex;                /* Use block-level flex for stacking */
        flex-direction: column;       /* Stack children vertically */
        align-items: stretch;         /* Make children fill full width if desired */
        width: 90%;   
    }
}


body.set-to-dark:not(.disable-dark-mode) .lrp-popup {
    background-color: #1f2933;
}

body.set-to-dark:not(.disable-dark-mode) .test-cell {
    border: 1px solid #7b8794;
    background-color: #323F48;
}

body.set-to-dark:not(.disable-dark-mode) .lrp-test-content-shown-button {
    border: 1px solid #7b8794;
    color: #cbd2d9;
    background-color: #242f39;
}

body.set-to-dark:not(.disable-dark-mode) .lrp-test-content-hidden-button {
    border: 1px solid #7b8794;
    background-color: #589e81;
    color: black;
}

body.set-to-dark:not(.disable-dark-mode) #lrp-test-hist-chart {
    border: 1px solid #7b8794;
}

body.set-to-dark:not(.disable-dark-mode) .lrp-aps-button {
    background-color: #195f7d !important;
    color: white;
}

body.set-to-dark:not(.disable-dark-mode) .lrp-myth {
    background-color: #195f7d;
}

body.set-to-dark:not(.disable-dark-mode) .tableKey {
    background-color: inherit !important;
    color: inherit !important;
    padding-bottom: 1px;
    margin-bottom: 0px;
    width: 100%;
    align-content: center;
    text-align: center;
}

body.set-to-dark:not(.disable-dark-mode) .lrp-trend-button {
    background-color: #242f39;
}