<div class="tableKey" role="region" aria-labelledby="tableKeyHeading">
    <span><strong id="tableKeyHeading">{{ tranTags.key || 'Key' }}:  </strong></span>
    <span role="list">
        <span   tooltip-follow
                role="listitem"
                aria-label="{{tranTags.collected || 'collected'}}"
                data-tooltip-title="{{tranTags.collected || 'collected'}}"
                class="keyIcon keyItem collected"
                data-title="tranTags.collected || 'collected'">
            - {{ tranTags.collected || 'collected' }} 
        </span>
        <span   tooltip-follow
                role="listitem"
                aria-label="{{tranTags.late || 'Late'}}"
                data-tooltip-title="{{tranTags.late || 'Late'}}"
                class="keyIcon keyItem late"
                data-title="tranTags.late || 'late'">
            - {{ tranTags.late || 'late' }} 
        </span>      
        <span   tooltip-follow
                role="listitem"
                aria-label="{{tranTags.exempt || 'Exempt'}}"
                data-tooltip-title="{{tranTags.exempt || 'Exempt'}}"
                class="keyIcon keyItem exempt"
                data-title="tranTags.exempt || 'exempt'">
            - {{ tranTags.exempt || 'exempt' }} 
        </span>      
        <span   tooltip-follow
                role="listitem"
                aria-label="{{tranTags.missing || 'Missing'}}"
                data-tooltip-title="{{tranTags.missing || 'Missing'}}"
                class="keyIcon keyItem missing"
                data-title="tranTags.missing || 'missing'">
            - {{ tranTags.missing || 'missing' }} 
        </span>      
        <span   tooltip-follow
                role="listitem"
                aria-label="{{tranTags.absent || 'Absent'}}"
                data-tooltip-title="{{tranTags.absent || 'Absent'}}"
                class="keyIcon keyItem absent"
                data-title="tranTags.absent || 'absent'">
            - {{ tranTags.absent || 'absent' }} 
        </span>  
        <span   tooltip-follow
                role="listitem"
                aria-label="{{tranTags.incomplete || 'Incomplete'}}"
                data-tooltip-title="{{tranTags.incomplete || 'Incomplete'}}"
                class="keyIcon keyItem incomplete"
                data-title="tranTags.incomplete || 'incomplete'">
            - {{ tranTags.incomplete || 'incomplete' }} 
        </span>
    </span>
        
</div>
<!-- Component Directives Start -->
<div    graph-popout 
        data-graph-data="stdHistGraph"
        data-is-popup-open="stdPopOpen"
        data-popup-title="stdHistTitle"
        data-close-popup="closeStdPopup()"
        data-graph-type="'MSCombi2D'"
        data-tran-tags="tranTags"></div>
<!-- Component Directives End -->
<div    class="lrp-table"
        data-ng-show="shouldShow(classList, 'current')">
    <div class="lrp-table-header">
        <div class="lrp-table-header-cell bubble-text">{{ tranTags.current_courses || 'Current Courses' }}</div>
    </div>
    <div class="lrp-table-header">
        <div class="lrp-table-header-cell lrp-flex-tenth"></div>
        <div class="lrp-table-header-cell lrp-flex-quarter bubble-text">{{ tranTags.exp || 'Exp' }}</div>
        <div class="lrp-table-header-cell bubble-text">{{ tranTags.course || 'Course' }}</div>
        <div class="lrp-table-header-cell lrp-flex-third lrp-full-view-block bubble-text">{{ tranTags.tag_shortcuts || 'Tag Shortcuts' }}</div>
        <div class="lrp-table-header-cell lrp-flex-quarter bubble-text">{{ tranTags.assessment || 'Assessment' }}</div>
    </div>
    <div    class="lrp-table-row"
            data-ng-repeat-start="class in classList | filter: filterCurrent | orderBy:'period'"
            data-ng-style="getBkgColor(class.colorcode)"
            data-ng-class="{'lrp-selected': class.expanded}"
            data-id="$index"
            data-ng-init="class.element = $element"
            data-ng-animate="'standard-animate'">
        <div    class="lrp-table-cell lrp-flex-tenth bubble-text">
            <span   class="lrp-table-toggle-button" 
                    style="font-size:2.5rem" 
                    data-ng-click="toggleExpand(class)"
                    data-ng-class="{'expanded': class.expanded}">
            </span>
        </div>
        <div class="lrp-table-cell lrp-flex-quarter bubble-text lrp-big">
            <div    class="lrp-table-cell-content"
                    data-ng-bind="class.period">
            </div>
        </div>
        <div class="lrp-table-cell-left bubble-text lrp-big lrp-table-cell-left">
            <div class="lrp-table-cell-content" 
                data-ng-bind-html="trustedHtml(class.course_name)">
            </div>
        </div>
        <div class="lrp-table-cell lrp-flex-third lrp-full-view-block">
            <div    class="lrp-table-cell-icons"
                    data-ng-show="class.lateCount > 0 || class.missingCount > 0 || class.incompCount > 0">
                <span   tooltip-follow
                        data-tooltip-title="{{tranTags.late_assignment_count_details || 'late assignment count: click to expand'}}"
                        class="bubble-text keyIcon late lrp-table-cell-content lrp-table-cell-key-content lrp-cursor"
                        data-ng-show="class.lateCount > 0"
                        data-ng-click="expandWarnings('late', class)"
                        data-title="tranTags.late_assignment_count_details || 'late assignment count: click to expand'">
                    - {{ class.lateCount }}
                </span>
                <span   tooltip-follow
                        data-tooltip-title="{{tranTags.missing_assignment_count_details || 'missing assignment count: click to expand'}}"
                        class="bubble-text keyIcon missing lrp-table-cell-content lrp-table-cell-key-content lrp-cursor"
                        data-ng-show="class.missingCount > 0"
                        data-ng-click="expandWarnings('missing', class)"
                        data-title="tranTags.missing_assignment_count_details || 'missing assignment count: click to expand'">
                    - {{ class.missingCount }}
                </span>
                <span   tooltip-follow
                        data-tooltip-title="{{tranTags.incomplete_assignment_count_details || 'incomplete assignment count: click to expand'}}"
                        class="bubble-text keyIcon incomplete lrp-table-cell-content lrp-table-cell-key-content lrp-cursor"
                        data-ng-show="class.incompCount > 0"
                        data-ng-click="expandWarnings('incomplete', class)"
                        data-title="tranTags.incomplete_assignment_count_details || incomplete assignment count: click to expand">
                    - {{ class.incompCount }}
                </span>
            </div>
        </div>
        <div class="lrp-table-cell-left lrp-flex-quarter bubble-text lrp-big">
            <div class="lrp-table lrp-score-table" data-ng-show="class.grades.length > 0">
                <!-- Table Header -->
                <div class="lrp-table-header">
                    <div class="lrp-table-header-cell lrp-score-header-cell" 
                         data-ng-repeat="grade in class.grades">
                        {{ grade.storecode }}
                    </div>
                </div>
                <!-- Table Row -->
                <div class="lrp-table-row">
                    <div class="lrp-table-cell lrp-score-cell" 
                         data-ng-repeat="grade in class.grades">
                        {{ grade.grade || '--' }}
                    </div>
                </div>
            </div>
            
            <div    class="lrp-circle" 
                    data-ng-style="getBkgColor(class.avgColor, true)"
                    data-ng-show="!(class.grades.length > 0) && class.avg == '1'">
            </div>
        </div>
    </div>
    <div    class="lrp-table-spacer-content lrp-table-collapsible-row" 
            data-ng-repeat-end 
            data-ng-class="{'expanded': class.expanded}"
            data-ng-style="selectedStyle(class)">
        <div    class="lrp-table lrp-sub-table"
                data-ng-show="class.standards.length === 0">
            <div class="lrp-table-row">
                <div class="lrp-table-cell bubble-text">
                    {{ tranTags.no_academic_learning_requirements_to_show || 'No Academic Learning Requirements To Show' }}
                </div>
            </div>
        </div>
<!-- Course Comments -->
        <div    class="lrp-comments"
                data-ng-show="class.comment.length > 0">
            <div class="">
                <div    class="lrp-comment-button"
                        data-ng-click="toggleExpandComments(class)"
                        data-ng-class="{'expanded': class.comexpanded}">
                    {{ tranTags.teacher_comments || 'Teacher Comments' }}
                </div>
                <div    class="lrp-comment-details"
                        data-ng-class="{'expanded': class.comexpanded}">
                    <div    class="lrp-table-row"
                            data-ng-repeat="comment in class.comment"
                            data-ng-show="class.comexpanded">
                        <div    class="lrp-table-cell lrp-flex-tenth"
                                data-ng-bind="comment.storecode"></div>
                        <div    class="lrp-table-cell lrp-flex-tenth"
                                data-ng-bind="comment.date2"></div>
                        <div    class="lrp-table-cell lrp-table-cell-left"
                                data-ng-bind-html="comment.comment_value">
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!-- Standards -->
        <div class="lrp-table lrp-sub-table" data-ng-repeat="category in class.standards">
            <div    class="lrp-table-header"
                    data-ng-style="parseStyle(category.catstyle)">
                <div class="lrp-table-header-cell bubble-text" data-ng-bind="category.category"></div>
            </div>
            <div class="lrp-table-header">
                <div class="lrp-table-header-cell lrp-flex-tenth"></div>
                <div class="lrp-table-header-cell bubble-text">{{ tranTags.learning_requirement || 'Learning Requirement' }}</div>
                <div class="lrp-table-header-cell lrp-flex-quarter lrp-full-view-block bubble-text">{{ tranTags.scores || 'Scores' }}</div>
                <div class="lrp-table-header-cell lrp-flex-tenth lrp-full-view-block bubble-text">{{ tranTags.trend || 'Trend' }}</div>
            </div>
            <div    class="lrp-table-row"
                    data-ng-repeat-start="standard in category.standards | filter:standardFilter"
                    data-ng-class="{'selected': standard.expanded}"
                    data-ng-animate="'standard-animate'">
                <div    class="lrp-table-cell lrp-flex-tenth bubble-text lrp-full-view-block">
                    <span   class="lrp-table-toggle-button" 
                            style="font-size:2.5rem" 
                            data-ng-click="toggleExpand(standard)"
                            data-ng-class="{'expanded': standard.expanded}">
                    </span>
                </div>
                <div    class="lrp-table-cell bubble-text lrp-big"
                        data-ng-bind-html="trustedHtml(standard.standardName)">
                </div>
                <div    class="lrp-table-cell lrp-flex-quarter bubble-text lrp-big lrp-full-view-block">
                    <div class="lrp-table lrp-score-table" data-ng-show="standard.grades.length > 0">
                        <!-- Table Header -->
                        <div class="lrp-table-header">
                            <div class="lrp-table-header-cell lrp-score-header-cell" 
                                 data-ng-repeat="grade in standard.grades">
                                {{ grade.storecode }}
                            </div>
                        </div>
                        <!-- Table Row -->
                        <div class="lrp-table-row">
                            <div class="lrp-table-cell lrp-score-cell" 
                                 data-ng-repeat="grade in standard.grades"
                                    data-ng-style="getBkgColor(grade.color)">
                                {{ grade.score || '--' }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="lrp-table-cell lrp-flex-tenth lrp-full-view-block">
                    <div    class="lrp-trend-button lrp-cursor"
                            tooltip-follow
                            data-tooltip-title="{{tranTags.click_for_details || 'Click for details'}}"
                            data-ng-click="openStdPopup(standard)">
                        <img    class="lrp-trend-icon"
                                data-ng-src="{{getTrend(standard.trend)}}"
                                data-ng-style="{{getArrowRotation(standard.trend)}}">
                    </div>
                        
                </div>
            </div>
<!-- Standard Content: Assignments and description -->
            <div    class="lrp-table-spacer-content lrp-table-collapsible-row"
                    data-ng-repeat-end
                    data-ng-class="{'expanded': standard.expanded}"
                    data-ng-style="selectedStyle(standard, '#736aa5')">
<!-- Standard Description -->
                <div    class="lrp-comments"
                        data-ng-show="standard.description.length > 0">
                    <div class="">
                        <div    class="lrp-comment-button"
                                data-ng-click="toggleExpandDescriptions(standard)"
                                data-ng-class="{'expanded': standard.desexpanded}">
                            {{ tranTags.description || 'Description' }}
                        </div>
                        <div    class="lrp-comment-details"
                                data-ng-class="{'expanded': standard.desexpanded}">
                            <div    class="lrp-table-row"
                                    data-ng-show="standard.desexpanded">
                                <div class="lrp-table-cell lrp-table-cell-left">
                                    <ul data-ng-bind-html="fixDesc(standard.description)"></ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div    class="lrp-table"
                        data-ng-show="standard.assignments.length === 0">
                    <div class="lrp-table-row">
                        <div class="lrp-table-cell bubble-text">{{ tranTags.no_evidence_to_show || 'No Evidence To Show' }}</div>
                    </div>
                </div>
<!-- Assignments -->
                <div class="lrp-table lrp-sub-table"
                        data-ng-show="standard.assignments.length > 0">
                    <div class="lrp-table-header">
                        <div class="lrp-table-header-cell lrp-flex-tenth"></div>
                        <div class="lrp-table-header-cell bubble-text">{{ tranTags.evidence || 'Evidence' }}</div>
                        <div class="lrp-table-header-cell lrp-flex-tenth lrp-full-view-block bubble-text">{{ tranTags.due_date || 'Due Date' }}</div>
                        <div class="lrp-table-header-cell lrp-flex-third lrp-full-view-block bubble-text">{{ tranTags.tags || 'Tags' }}</div>
                        <div class="lrp-table-header-cell lrp-flex-tenth bubble-text">{{ tranTags.score || 'Score' }}</div>
                    </div>
                    <div    class="lrp-table-row lrp-assignment-data lrp-table-assignment-row"
                            data-ng-repeat-start="asmt in standard.assignments"
                            data-ng-repeat-index="{{$index}}"
                            data-ng-class="{'selected': asmt.expanded}">
                        <div class="lrp-table-cell lrp-flex-tenth bubble-text">
                            <span   class="lrp-table-toggle-button" 
                                    style="font-size:2.5rem" 
                                    data-ng-click="toggleExpand(asmt)"
                                    data-ng-class="{'expanded': asmt.expanded}">
                            </span>
                        </div>
                        <div    class="lrp-table-cell bubble-text"
                                data-ng-bind="asmt.asmt">
                            
                        </div>
                        <div    class="lrp-table-cell lrp-flex-tenth bubble-text"
                                data-ng-bind="asmt.due_date">
                            
                        </div>
                        <div class="lrp-table-cell lrp-flex-third lrp-full-view-block">
                            <div class="lrp-table-cell-icons">
                                <span   tooltip-follow
                                        data-tooltip-title="{{tranTags.collected || 'collected'}}"
                                        class="bubble-text keyIcon collected lrp-table-cell-content"
                                        data-ng-show="asmt.collected == '1'"
                                        data-title="tranTags.collected || 'collected">
                                </span>
                                <span   tooltip-follow
                                        data-tooltip-title="{{tranTags.late || 'Late'}}"
                                        class="bubble-text keyIcon late lrp-table-cell-content"
                                        data-ng-show="asmt.late == '1'"
                                        data-title="tranTags.late || 'Late'">
                                </span>
                                <span   tooltip-follow
                                        data-tooltip-title="{{tranTags.exempt || 'Exempt'}}"
                                        class="bubble-text keyIcon exempt lrp-table-cell-content"
                                        data-ng-show="asmt.exempt== '1'"
                                        data-title="tranTags.exempt || 'Exempt'">
                                </span>
                                <span   tooltip-follow
                                        data-tooltip-title="{{tranTags.missing || 'Missing'}}"
                                        class="bubble-text keyIcon missing lrp-table-cell-content"
                                        data-ng-show="asmt.missing == '1'"
                                        data-title="tranTags.missing || 'Missing'">
                                </span>
                                <span   tooltip-follow
                                        data-tooltip-title="{{tranTags.absent || 'Absent'}}"
                                        class="bubble-text keyIcon absent lrp-table-cell-content"
                                        data-ng-show="asmt.absent == '1'"
                                        data-title="tranTags.absent || 'Absent'">
                                </span>
                                <span   tooltip-follow
                                        data-tooltip-title="{{tranTags.incomplete || 'Incomplete'}}"
                                        class="bubble-text keyIcon incomplete lrp-table-cell-content"
                                        data-ng-show="asmt.incomplete == '1'"
                                        data-title="tranTags.incomplete || 'Incomplete'">
                                </span>
                            </div>
                        </div>
                        <div    class="lrp-table-cell lrp-flex-tenth bubble-text lrp-big">
                            <div    class="bubble-text lrp-big lrp-table-cell-icons"
                                    data-ng-style="getBkgColor(asmt.color)"
                                    data-ng-bind="asmt.score">
                            </div>
                        </div>
                    </div>
                    <div    class="lrp-table-spacer-content lrp-table-collapsible-row"
                            data-ng-class="{'expanded': asmt.expanded}"
                            data-ng-repeat-end
                            data-ng-style="selectedStyle(asmt, '#736aa5')">
                        <div class="lrp-table lrp-description">
                            <div class="lrp-table-row">
                                <div class="lrp-table-cell lrp-flex-quarter">
                                    {{ tranTags.description || 'Description' }}
                                </div>
                                <div    class="lrp-table-cell lrp-table-cell-left">
                                    <div>
                                        <div data-ng-bind-html="asmt.description"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div    class="lrp-table"
        data-ng-show="shouldShow(classList)">
    <div class="lrp-table-header">
        <div class="lrp-table-header-cell bubble-text">{{ tranTags.prev_courses_this_year || "Previous Courses This Year" }}</div>
    </div>
    <div class="lrp-table-header">
        <div class="lrp-table-header-cell lrp-flex-tenth"></div>
        <div class="lrp-table-header-cell bubble-text">{{ tranTags.course || "Course" }}</div>
        <div class="lrp-table-header-cell lrp-flex-third lrp-full-view-block bubble-text">{{ tranTags.tag_shortcuts || 'Tag Shortcuts' }}</div>
        <div class="lrp-table-header-cell lrp-flex-quarter bubble-text">{{ tranTags.assessment || 'Assessment' }}</div>
    </div>
    <div    class="lrp-table-row"
            data-ng-repeat-start="class in classList | filter: filterPrev | orderBy:'period'"
            data-ng-style="getBkgColor(class.colorcode)"
            data-ng-class="{'lrp-selected': class.expanded}"
            data-id="$index"
            data-ng-init="class.element = $element">
        <div    class="lrp-table-cell lrp-flex-tenth bubble-text">
            <span   class="lrp-table-toggle-button" 
                    style="font-size:2.5rem" 
                    data-ng-click="toggleExpand(class)"
                    data-ng-class="{'expanded': class.expanded}">
            </span>
        </div>
        <div class="lrp-table-cell-left bubble-text lrp-big lrp-table-cell-left">
            <div class="lrp-table-cell-content" 
                data-ng-bind-html="trustedHtml(class.course_name)">
            </div>
        </div>
        <div class="lrp-table-cell lrp-flex-third lrp-full-view-block">
            <div    class="lrp-table-cell-icons"
                    data-ng-show="class.lateCount > 0 || class.missingCount > 0 || class.incompCount > 0">
                <span   tooltip-follow
                        data-tooltip-title="{{tranTags.late_assignment_count_details || 'late assignment count: click to expand'}}"
                        class="bubble-text keyIcon late lrp-table-cell-content lrp-table-cell-key-content lrp-cursor"
                        data-ng-show="class.lateCount > 0"
                        data-ng-click="expandWarnings('late', class)"
                        data-title="tranTags.late_assignment_count_details || 'late assignment count: click to expand'">
                    - {{ class.lateCount }}
                </span>
                <span   tooltip-follow
                        data-tooltip-title="{{tranTags.missing_assignment_count_details || 'missing assignment count: click to expand'}}"
                        class="bubble-text keyIcon missing lrp-table-cell-content lrp-table-cell-key-content lrp-cursor"
                        data-ng-show="class.missingCount > 0"
                        data-ng-click="expandWarnings('missing', class)"
                        data-title="tranTags.missing_assignment_count_details || 'missing assignment count: click to expand'">
                    - {{ class.missingCount }}
                </span>
                <span   tooltip-follow
                        data-tooltip-title="{{tranTags.incomplete_assignment_count_details || 'incomplete assignment count: click to expand'}}"
                        class="bubble-text keyIcon incomplete lrp-table-cell-content lrp-table-cell-key-content lrp-cursor"
                        data-ng-show="class.incompCount > 0"
                        data-ng-click="expandWarnings('incomplete', class)"
                        data-title="tranTags.incomplete_assignment_count_details || incomplete assignment count: click to expand">
                    - {{ class.incompCount }}
                </span>
            </div>
        </div>
        <div class="lrp-table-cell-left lrp-flex-quarter bubble-text lrp-big">
            <div class="lrp-table lrp-score-table" data-ng-show="class.grades.length > 0">
                <!-- Table Header -->
                <div class="lrp-table-header">
                    <div class="lrp-table-header-cell lrp-score-header-cell" 
                         data-ng-repeat="grade in class.grades">
                        {{ grade.storecode }}
                    </div>
                </div>
                <!-- Table Row -->
                <div class="lrp-table-row">
                    <div class="lrp-table-cell lrp-score-cell" 
                         data-ng-repeat="grade in class.grades">
                        {{ grade.grade || '--' }}
                    </div>
                </div>
            </div>
            
            <div    class="lrp-circle" 
                    data-ng-style="getBkgColor(class.avgColor, true)"
                    data-ng-show="!(class.grades.length > 0) && class.avg == '1'">
            </div>
        </div>
    </div>
    <div    class="lrp-table-spacer-content lrp-table-collapsible-row" 
            data-ng-repeat-end 
            data-ng-class="{'expanded': class.expanded}"
            data-ng-style="selectedStyle(class)">
        <div    class="lrp-table lrp-sub-table"
                data-ng-show="class.standards.length === 0">
            <div class="lrp-table-row">
                <div class="lrp-table-cell">
                    {{ tranTags.no_academic_learning_requirements_to_show || 'No Academic Learning Requirements To Show' }}
                </div>
            </div>
        </div>
<!-- Course Comments -->
        <div    class="lrp-comments"
                data-ng-show="class.comment.length > 0">
            <div class="">
                <div    class="lrp-comment-button"
                        data-ng-click="toggleExpandComments(class)"
                        data-ng-class="{'expanded': class.comexpanded}">
                    {{ tranTags.teacher_comments || 'Teacher Comments' }}
                </div>
                <div    class="lrp-comment-details"
                        data-ng-class="{'expanded': class.comexpanded}">
                    <div    class="lrp-table-row"
                            data-ng-repeat="comment in class.comment"
                            data-ng-show="class.comexpanded">
                        <div    class="lrp-table-cell lrp-flex-tenth"
                                data-ng-bind="comment.storecode"></div>
                        <div    class="lrp-table-cell lrp-flex-tenth"
                                data-ng-bind="comment.date2"></div>
                        <div    class="lrp-table-cell lrp-table-cell-left"
                                data-ng-bind-html="comment.comment_value">
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!-- Standards -->
        <div class="lrp-table lrp-sub-table" data-ng-repeat="category in class.standards">
            <div    class="lrp-table-header"
                    data-ng-style="parseStyle(category.catstyle)">
                <div class="lrp-table-header-cell bubble-text" data-ng-bind="category.category"></div>
            </div>
            <div class="lrp-table-header">
                <div class="lrp-table-header-cell lrp-flex-tenth"></div>
                <div class="lrp-table-header-cell bubble-text">{{ tranTags.learning_requirement || 'Learning Requirement' }}</div>
                <div class="lrp-table-header-cell lrp-flex-quarter lrp-full-view-block bubble-text">{{ tranTags.scores || 'Scores' }}</div>
                <div class="lrp-table-header-cell lrp-flex-tenth lrp-full-view-block bubble-text">{{ tranTags.trend || 'Trend' }}</div>
            </div>
            <div    class="lrp-table-row"
                    data-ng-repeat-start="standard in category.standards"
                    data-ng-class="{'selected': standard.expanded}">
                <div    class="lrp-table-cell lrp-flex-tenth bubble-text lrp-full-view-block">
                    <span   class="lrp-table-toggle-button" 
                            style="font-size:2.5rem" 
                            data-ng-click="toggleExpand(standard)"
                            data-ng-class="{'expanded': standard.expanded}">
                    </span>
                </div>
                <div    class="lrp-table-cell bubble-text lrp-big"
                        data-ng-bind-html="trustedHtml(standard.standardName)">
                </div>
                <div    class="lrp-table-cell lrp-flex-quarter bubble-text lrp-big lrp-full-view-block">
                    <div class="lrp-table lrp-score-table" data-ng-show="standard.grades.length > 0">
                        <!-- Table Header -->
                        <div class="lrp-table-header">
                            <div class="lrp-table-header-cell lrp-score-header-cell" 
                                 data-ng-repeat="grade in standard.grades">
                                {{ grade.storecode }}
                            </div>
                        </div>
                        <!-- Table Row -->
                        <div class="lrp-table-row">
                            <div class="lrp-table-cell lrp-score-cell" 
                                 data-ng-repeat="grade in standard.grades"
                                    data-ng-style="getBkgColor(grade.color)">
                                {{ grade.score || '--' }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="lrp-table-cell lrp-flex-tenth lrp-full-view-block">
                    <div    class="lrp-trend-button lrp-cursor"
                            tooltip-follow
                            data-tooltip-title="{{tranTags.click_for_details || 'Click for details'}}"
                            data-ng-click="openStdPopup(standard)">
                        <img    class="lrp-trend-icon"
                                data-ng-src="{{getTrend(standard.trend)}}"
                                data-ng-style="{{getArrowRotation(standard.trend)}}">
                    </div>
                        
                </div>
            </div>
<!-- Standard Content: Assignments and description -->
            <div    class="lrp-table-spacer-content lrp-table-collapsible-row"
                    data-ng-repeat-end
                    data-ng-class="{'expanded': standard.expanded}"
                    data-ng-style="selectedStyle(standard, '#736aa5')">
<!-- Standard Description -->
                <div    class="lrp-comments"
                        data-ng-show="standard.description.length > 0">
                    <div class="">
                        <div    class="lrp-comment-button"
                                data-ng-click="toggleExpandDescriptions(standard)"
                                data-ng-class="{'expanded': standard.desexpanded}">
                            {{ tranTags.description || 'Description' }}
                        </div>
                        <div    class="lrp-comment-details"
                                data-ng-class="{'expanded': standard.desexpanded}">
                            <div    class="lrp-table-row"
                                    data-ng-show="standard.desexpanded">
                                <div class="lrp-table-cell lrp-table-cell-left">
                                    <ul data-ng-bind-html="fixDesc(standard.description)"></ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div    class="lrp-table"
                        data-ng-show="standard.assignments.length === 0">
                    <div class="lrp-table-row">
                        <div class="lrp-table-cell">{{ tranTags.no_evidence_to_show || 'No Evidence To Show' }}</div>
                    </div>
                </div>
<!-- Assignments -->
                <div class="lrp-table lrp-sub-table"
                        data-ng-show="standard.assignments.length > 0">
                    <div class="lrp-table-header">
                        <div class="lrp-table-header-cell lrp-flex-tenth"></div>
                        <div class="lrp-table-header-cell bubble-text">{{ tranTags.evidence || 'Evidence' }}</div>
                        <div class="lrp-table-header-cell lrp-flex-tenth lrp-full-view-block bubble-text">{{ tranTags.due_date || 'Due Date' }}</div>
                        <div class="lrp-table-header-cell lrp-flex-third lrp-full-view-block bubble-text">{{ tranTags.tags || 'Tags' }}</div>
                        <div class="lrp-table-header-cell lrp-flex-tenth bubble-text">{{ tranTags.score || 'Score' }}</div>
                    </div>
                    <div    class="lrp-table-row lrp-assignment-data lrp-table-assignment-row"
                            data-ng-repeat-start="asmt in standard.assignments"
                            data-ng-repeat-index="{{$index}}"
                            data-ng-class="{'selected': asmt.expanded}">
                        <div class="lrp-table-cell lrp-flex-tenth bubble-text">
                            <span   class="lrp-table-toggle-button" 
                                    style="font-size:2.5rem" 
                                    data-ng-click="toggleExpand(asmt)"
                                    data-ng-class="{'expanded': asmt.expanded}">
                            </span>
                        </div>
                        <div    class="lrp-table-cell bubble-text"
                                data-ng-bind="asmt.asmt">
                            
                        </div>
                        <div    class="lrp-table-cell lrp-flex-tenth bubble-text"
                                data-ng-bind="asmt.due_date">
                            
                        </div>
                        <div class="lrp-table-cell lrp-flex-third lrp-full-view-block">
                            <div class="lrp-table-cell-icons">
                                <span   tooltip-follow
                                        data-tooltip-title="{{tranTags.collected || 'collected'}}"
                                        class="bubble-text keyIcon collected lrp-table-cell-content"
                                        data-ng-show="asmt.collected == '1'"
                                        data-title="tranTags.collected || 'collected">
                                </span>
                                <span   tooltip-follow
                                        data-tooltip-title="{{tranTags.late || 'Late'}}"
                                        class="bubble-text keyIcon late lrp-table-cell-content"
                                        data-ng-show="asmt.late == '1'"
                                        data-title="tranTags.late || 'Late'">
                                </span>
                                <span   tooltip-follow
                                        data-tooltip-title="{{tranTags.exempt || 'Exempt'}}"
                                        class="bubble-text keyIcon exempt lrp-table-cell-content"
                                        data-ng-show="asmt.exempt== '1'"
                                        data-title="tranTags.exempt || 'Exempt'">
                                </span>
                                <span   tooltip-follow
                                        data-tooltip-title="{{tranTags.missing || 'Missing'}}"
                                        class="bubble-text keyIcon missing lrp-table-cell-content"
                                        data-ng-show="asmt.missing == '1'"
                                        data-title="tranTags.missing || 'Missing'">
                                </span>
                                <span   tooltip-follow
                                        data-tooltip-title="{{tranTags.absent || 'Absent'}}"
                                        class="bubble-text keyIcon absent lrp-table-cell-content"
                                        data-ng-show="asmt.absent == '1'"
                                        data-title="tranTags.absent || 'Absent'">
                                </span>
                                <span   tooltip-follow
                                        data-tooltip-title="{{tranTags.incomplete || 'Incomplete'}}"
                                        class="bubble-text keyIcon incomplete lrp-table-cell-content"
                                        data-ng-show="asmt.incomplete == '1'"
                                        data-title="tranTags.incomplete || 'Incomplete'">
                                </span>
                            </div>
                        </div>
                        <div    class="lrp-table-cell lrp-flex-tenth bubble-text lrp-big">
                            <div    class="bubble-text lrp-big lrp-table-cell-icons"
                                    data-ng-style="getBkgColor(asmt.color)"
                                    data-ng-bind="asmt.score">
                            </div>
                        </div>
                    </div>
                    <div    class="lrp-table-spacer-content lrp-table-collapsible-row"
                            data-ng-class="{'expanded': asmt.expanded}"
                            data-ng-repeat-end
                            data-ng-style="selectedStyle(asmt, '#736aa5')">
                        <div class="lrp-table lrp-description">
                            <div class="lrp-table-row">
                                <div class="lrp-table-cell lrp-flex-quarter">
                                    {{ tranTags.description || 'Description' }}
                                </div>
                                <div    class="lrp-table-cell lrp-table-cell-left">
                                    <div>
                                        <div data-ng-bind-html="asmt.description"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>